" ----------
" Remaps
" ----------

let mapleader = " "

vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

nnoremap <leader>k :nohlsearch<CR>

" ----------
" Plugins
" ----------

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
Plug 'easymotion/vim-easymotion'

" ----------
" Options
" ----------

set number
set relativenumber

set hlsearch
set ignorecase
set smartcase
set incsearch
set wrapscan
set quickscope
set which-key
set notimeout

set history=10000
set scrolloff=5 sidescrolloff=10
set clipboard=unnamedplus,unnamed,ideaput

" ----------
" Actions
" ----------

nmap K :action NextTab<CR>
nmap J :action PreviousTab<CR>
nmap <leader>q :close<CR>

nmap <Leader>ff :action com.fuzzyfilesearch.SearchAllFiles<CR>
