@define-color primary #ac82e9;
@define-color text-primary #141216;
@define-color text-focused #ffffff;

* {
  font-family: IosevkaTerm Nerd Font;
  font-weight: 800;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio {
  background-color: @primary;
  color: @text-primary;

  padding: 4px 8px;

  border-radius: 15px;
  border-style: none;

  transition-duration: 120ms;
}

#workspaces button {
  transition-duration: 100ms;
  min-width: 0;
  font-weight: bold;
  color: @text-primary;
  padding: 0px;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button.focused {
  color: @text-focused;
  font-weight: bold;
}
