@define-color primary #1b121c;
@define-color text-primary #fafafa;
@define-color text-focused #ff7777;
@define-color border #991111;

* {
  font-family: Firacode Nerd Font;
  font-weight: 400;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.empty #window {
  transition-duration: 0ms;
  border: none;
  background: none;
}

#mode,
#window,
#battery,
#custom-network,
#custom-updates,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
tooltip {
  color: @text-primary;
  background-color: @primary;

  padding: 4px 12px;
  border: solid;
  border-width: 2px;
  border-color: @border;
  border-radius: 5px;

  transition-duration: 120ms;
}

tooltip label {
  color: @text-primary;
  background: transparent;
  text-decoration: none;
  text-shadow: none;
}

#mode:hover,
#window:hover,
#workspaces:hover,
#battery:hover,
#custom-network:hover,
#custom-updates:hover,
#clock:hover,
#tray:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#pulseaudio:hover {
  color: @text-focused;
}

#workspaces button {
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
  transition-duration: 120ms;
  border: none;
  color: @text-primary;
}

#workspaces button:hover {
  color: @text-focused;
  background: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

#workspaces button.focused,
#workspaces button.active {
  color: @text-focused;
  font-weight: bold;
}
