@define-color primary #1b121c;
@define-color text-primary #cccccc;
@define-color text-focused #ff7777;
@define-color border #991111;

* {
  font-family: Fira Code Mono Nerd Font;
  font-size: 12px;
  font-weight: 600;
}

#window {
  padding: 12px;

  background-color: @primary;
  color: @text-primary;

  border-color: @border;
  border-style: solid;
  border-width: 2px;
}

#inner-box {
  padding-top: 16px;
}

#entry {
  color: @text-primary;

  padding: 15px 6px;

  margin-left: 12px;
  margin-right: 12px;

  border-style: none;
  outline-style: none;
}

#entry:selected {
  background: @primary;

  border-style: solid;
  border-color: @border;
  border-width: 1.5px;
}

#input {
  background-color: @primary;
  color: @text-primary;

  border-style: none;
  border-bottom-style: dotted;
  border-color: @border;

  padding: 12px;
  margin: 8px;
}

#input:focus {
  border-style: none;
  outline: none;
  box-shadow: none;
}

#img {
  padding: 4px;
  margin-right: 10px;
}
